@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Fraunces:opsz,wght@9..144,900&family=Kanit:ital,wght@0,300;0,600;1,400;1,700;1,900&family=Metal+Mania&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,200&family=Nunito:ital,wght@1,300;1,400;1,800&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,800;1,900&display=swap');

h1,
h2 {
  font-family: 'DM Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 1200px;
  margin: auto;
}

nav {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 50px;
}

.nav-list a {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
  padding-bottom: 10px;
  transition: 0.1s all;
  border-bottom: 2px solid #FFFFFF;
}

.nav-list li :last-child:hover {
  color: #19191B;
  border-bottom: 2px solid #5454D4;

}

.nav-button {
  width: 211px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #FFFFFF;
  background: #FF7143;
  border-radius: 10px;
  border: 0;
}

.nav-button:hover {
  background-color: #FFFFFF;
  color: #FF7143;
  border: 2px solid #FF7143;
}

/* nabar end */

/* navbar start */

.hero {
  padding-top: 100px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-title h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;

  color: #19191B;
}

.hero-title p {
  width: 462px;
  height: 231px;
  margin-top: 30px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #901515;

}

.hero-btn {

  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-btn button {
  width: 211px;
  height: 60px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  background: #5454D4;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}

.hero-btn button:hover {
  background-color: #fff;
  color: #5454D4;
  border: 2px solid #5454D4;
}

.hero-span {
  display: inline-block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E7E7E7;
  border-radius: 50%;
}

.sponsers {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsers img:hover {
  transform: scale(0.9);
}

/* Sponser end */

/* Subscretion start */


.subscretion {
  margin-top: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.subscretion h1 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  color: #19191B;

}

.subscretion p {
  width: 460px;
  margin-top: 30px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #696871;

}

.learn {
  margin-top: 100px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  text-decoration: none;
  color: #5454D4;
}

.subscretion-link {
  margin-top: 30px;
}

/* subscretion-end */

/* in-debs-start */

.in-deps {
  margin-top: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.in-deps h1 {
  width: 557px;
  height: 57px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  color: #19191B;
}

.in-deps p {
  width: 460px;
  height: 60px;
  margin-top: 30px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #696871;

}

.deps-link {
  margin-top: 30px;
}

.deps-link a {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #5454D4;
}

/* deps-end */

/* card-start */

.card-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.plastic-card {
  margin-top: 150px;
  width: 307px;
  height: 48px;
  text-align: center;

}


.plastic-card img {
  width: 114px;

}

.plastic-card img:hover {
  transform: scale(.9);
}

.plastic-card h3 {
  margin-top: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #19191B;
}

.plastic-card p {
  margin-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696871;
}

/* plastic-card-end */

/* get-product */

.get-product {
  margin-top: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.get-product h1 {
  width: 520px;
  height: 140px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #19191B;
}

.get-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 344px;
  height: 75px;
  background: #F7F7FB;
  border-radius: 10px 0px 0px 10px;
  ;
}


.right-btn {
  margin-left: 6px;
  width: 160px;
  height: 55px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #5454D4;
  border-radius: 10px 0px 0px 10px;
  border: 0;
}

.left-btn {
  width: 160px;
  height: 55px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #19191B;
  background: #F7F7FB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
}

.shop-cards {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.free-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 441px;
  text-align: center;
  background: #F8F8F8;
  border-radius: 10px;
}

.free-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.free-content:hover {
  border-radius: 10px;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transform: scale(1.05);
  transition: 0.5s all;
}

.free-card p {
  margin-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #696871;
}



.free-card h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  color: #1D293F;
}

.free-card h2:hover {
  color: #FFFFFF;
}

.free-card button {
  margin-top: 25px;
  width: 285px;
  height: 60px;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #5454D4;

}

.free-card:hover {
  background-color: #FF7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.free-content p:hover {
  color: #FFFFFF;
}

.free-card button:hover {
  background-color:
    #9F3919;
  color: #FFFFFF;
}

.premium-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 451px;
  background: #F8F8F8;
  border-radius: 10px;
  transition: 0.5s all;
}

.premiun-content {
  width: 330px;
  height: 441px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all;



}

.premiun-content:hover {
  border-radius: 10px;
  background-color: #FF7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transform: scale(1.05);
}

.premium-p {
  margin-top: 25px;
}

.premiun-content h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 0;
  font-size: 50px;
  line-height: 56px;
  color: #1D293F;
}

.premiun-content p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #696871;
}

.premiun-content h2:hover {
  color: #FFFFFF;
}

.premium-card p:hover {
  color: #FFFFFF;
}

.premium-card button {
  margin-bottom: 15px;
  width: 285px;
  height: 60px;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #5454D4;
}

.premium-card button:hover {
  background-color:
    #9F3919;
  color: #FFFFFF;
}

.enterprise {
  width: 330px;
  height: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #F8F8F8;
  border-radius: 10px;
}

.enter-p {
  margin-top: 20px;
}

.enterprise-content {
  width: 330px;
  height: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  transition: 0.5s all;
}

.enterprise-content:hover {
  background-color: #FF7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transform: scale(1.05);

}

.enterprise-content p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  color: #696871
}

.enterprise-content h2:hover {
  color: #FFFFFF;
}

.enterprise-content p:hover {
  color: #FFFFFF;
}

.enterprise-content h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 0;
  font-size: 50px;
  line-height: 56px;
  color: #1D293F;

}

.enterprise-content button {
  margin-bottom: 15px;
  width: 285px;
  height: 60px;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #5454D4;
}

.enterprise-content button:hover {
  background-color:
    #9F3919;
  color: #FFFFFF;
}